on:
  push:
    branches:
      - master

name: Flutter Build
jobs:
  build:
    name: Build Apps
    runs-on: ubuntu-latest
    env:
      working-directory: ./example
    steps:
      - name: Export Release Timestamp
        run: echo "APP_VERSION=v$(date +'%Y.%m.%d.%H.%M.%S')" >> $GITHUB_ENV
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: '15'
          distribution: 'adopt'
      - name: Set up Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: 'stable'
      - name: Install pub Dependencies
        run: flutter pub get
      - name: Build Android App
        run: flutter build apk --split-per-abi
        working-directory: ${{env.working-directory}}
        with:
          name: ${{ env.APP_VERSION }}
          artifacts: 'build/app/outputs/apk/release/*.apk'
